.text-search {
    display: grid;
    grid-template-columns: auto max-content;
    width: 100%;
    background-color: #ffffff;
    border: 1px #d7d7d7 solid;
    border-radius: 5px;
    box-sizing: border-box;
    gap:10px; 
    padding: 5px 10px;
}

.text-search-container {
    width: 100%;
    padding: 0;
    margin: 0;
}

.text-search-input {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}