.text-input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
}

.text-input-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5;
}